<!-- Might Need later -->

{{!-- <h2>The user has selected a bought item to learn more</h2> --}}
{{!-- <h2 class="h2-id">{{{item.id}}}</h2> --}}
{{!-- <img class="challenge-img" src="{{challenge.img_link}}"> --}}


<section class="bought-item-page">
  <img class="bought-icon" id="learn-more-icon" src='{{item.img_link}}'>
  <h2 class="selected-item-title">{{{item.title}}}</h2>


  <article class="item-what">
    <h3>What</h3>
    <p>
      {{{item.what}}}
    </p>
  </article>

  <article class="item-why">
    <h3>Why</h3>
    <p>
      {{{item.why}}}
    </p>
  </article>

  <a href="{{{item.ext_link}}}" target="_blank" class="ext-link"><button class="single-page-button">Find out more</button></a>

</section>