<h1>this is the selected challenge</h1>

<section class="challenge-page">

  {{!-- <img class="challenge-img" src="{{challenge.img_link}}"> --}}

  <h2>{{{challenge.title}}}</h2>
  <h2 class="h2-id">{{{challenge.id}}}</h2>

  <article class="challenge-what">
    <h3>What</h3>
    <p>
      {{{challenge.what}}}
    </p>
  </article>

  <article class="challenge-why">
    <h3>Why</h3>
    <p>
      {{{challenge.why}}}
    </p>
  </article>

  <a href="{{{challenge.ext_link}}}" target="_blank" class="ext-link"><button>Find out more</button></a>

</section>