<section class="challenge-page">

  <header class="header-img">
    <img class="selected-item-img" src="{{challenge.img_link}}">
  </header>

  <h2 class="selected-item-title">{{{challenge.title}}}</h2>


  <article class="challenge-what">
    <h3>What</h3>
    <p>
      {{{challenge.what}}}
    </p>
  </article>

  <article class="challenge-why">
    <h3>Why</h3>
    <p>
      {{{challenge.why}}}
    </p>
  </article>

  <a href="{{{challenge.ext_link}}}" target="_blank" class="ext-link"><button class="single-page-button">Find
      out more</button></a>


</section>

<section class="accept-challenge-section"></section>