<section class="challenge-page">

  <header class="header-img">
    <img class="selected-item-img" src="{{challenge.img_link}}">
  </header>

  <h2 class="selected-item-title">{{{challenge.title}}}</h2>
  <h2 class="accept-challenge-section id-hidden">{{{challenge.id}}}</h2>

  <nav>
    <div class="chall-select-tab">
      <button class="chall-select-btn" onclick="openChallenge(event, 'challenge-what')" id="defaultOpen">The Challenge</button>
      <button class="chall-select-btn" onclick="openChallenge(event, 'challenge-why')">Why it is important</button>
    </div>
  </nav>


  <article id="challenge-what" class="challenge-tab challenge-what">
    <p>
      {{{challenge.what}}}
    </p>
  </article>

  <article id="challenge-why" class="challenge-tab challenge-why" style="display:none">
    <p>
      {{{challenge.why}}}
    </p>
  </article>

  <a href="{{{challenge.ext_link}}}" target="_blank" class="ext-link"><button class="single-page-button">Find
      out more</button></a>


</section>