<section class="challenges-container">
    {{!--

    <body onload="document.getElementById('defaultOpen').click()"> --}}
<!-- Tabbed test -->

 

        <div class="tab">
            <nav>
            <ul>
                <li><button class="tablinks" onclick="openCity(event, 'new-challenge')" id="defaultOpen">New</button></li>
                <li> <button class="tablinks" onclick="openCity(event, 'accepted-challenge')">Accepted </button></li>
                <li> <button class="tablinks" onclick="openCity(event, 'completed-challenge')">Completed</button></li>
            </ul>
            </nav>

        </div>

        <!-- New Challenges -->

        <section id="new-challenge" class="items-container tabcontent">
            <div class="bought-container">
                {{#each newChallenges}}
                <div class="items-overview">
                    {{!-- <h3 class="newChallH3">{{this.title}} : {{this.id}}</h3> --}}
                    <h3 class="newChallH3">{{this.title}}</h3>
                    <div class="icons">
                        <img class="bought-icon" src='{{this.img_link}}'>
                        {{!-- <p>Reward Points: {{this.reward_points}}</p> --}}
                        <button class="new-item-button" id="{{this.id}}" onclick="window.location.href='/new-challenges/{{this.id}}'">
                            <img class="help-icon" src="../../public/imgs/help.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}

        </section>

        <!-- Accepted Challenges -->

        <section id="accepted-challenge" class="items-container tabcontent">
            <div class="challenges-container">
                {{#each acceptedChallenges}}
                <div class="items-overview">
                    <h3 class="newChallH3">{{this.title}}</h3>
                    <div class="icons">
                        <img class="bought-icon" src='{{this.img_link}}'>
                        <button class="new-item-button" id="{{this.id}}" onclick="window.location.href='/acc-challenges/{{this.challenge_id}}'">
                            <img class="help-icon" src="../../public/imgs/help.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>

            {{/each}}

        </section>

        <!-- Completed challenge -->

        <section id="completed-challenge" class="items-container tabcontent">
            <div class="challenges-container">
                {{#each completedChallenges}}
                <div class="items-overview">
                    <h3 class="newChallH3">{{this.title}}</h3>
                    <div class="icons">
                        <img class="bought-icon" src='{{this.img_link}}'>
                        <button class="new-item-button" id="id-{{this.id}}" onclick="window.location.href='/comp-challenges/{{this.challenge_id}}'">
                            <img class="help-icon" src="../../public/imgs/help.svg" alt="">
                        </button>
                    </div>
                    </div>
                </div>
                {{/each}}
        </section>