<section class="challenges-container">
    {{!--

    <body onload="document.getElementById('defaultOpen').click()"> --}}
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'new-challenge')" id="defaultOpen">New Challenges</button>
            <button class="tablinks" onclick="openCity(event, 'accepted-challenge')">Accepted Challenges</button>
            <button class="tablinks" onclick="openCity(event, 'completed-challenge')">Completed Challenges</button>
        </div>

        <!-- New Challenges -->

        <section id="new-challenge" class="items-container">
            <h2 class="main-title">New Challenges</h2>

            <div class="bought-container">
                {{#each newChallenges}}

                <div class="items-overview">
                    {{!-- <h3 class="newChallH3">{{this.title}} : {{this.id}}</h3> --}}
                    <h3 class="newChallH3">{{this.title}}</h3>
                    <div class="icons">
                        <img class="bought-icon" src='{{this.img_link}}'>
                        {{!-- <p>Reward Points: {{this.reward_points}}</p> --}}
                        <button class="new-item-button" id="{{this.id}}" onclick="window.location.href='/acc-challenges/{{this.id}}'">
                            <img class="help-icon" src="../../public/imgs/help.svg" alt="">
                        </button>
                    </div>
                </div>
                {{/each}}

        </section>

        <!-- Accepted Challenges -->

        <section id="accepted-challenge" class="challenges-container tabcontent">
            <header class="challenges-header">
                <h2 class="main-title">Accepted Challenges</h2>
            </header>
            <div class="challenges-container">
                {{#each acceptedChallenges}}

                <div class="challenge-overview">
                    <img src='{{this.img_link}}'>

                    <h3>{{this.title}} : {{ this.challenge_id }}</h3>
                    <p>Reward Points: {{this.reward_points}}</p>

                    <button class="acc-challenge-button" id="{{this.id}}" onclick="window.location.href='/acc-challenges/{{this.challenge_id}}'">
                        Find out more </button>
                </div>

                {{/each}}

        </section>

        <!-- Completed challenge -->

        <section id="completed-challenge" class="challenges-container tabcontent">
            <header class="challenges-header">
                <h2 class="main-title">Completed Challenges</h2>
            </header>
            <div class="challenges-container">
                {{#each completedChallenges}}
                <div class="challenge-overview">
                    <h3>{{this.title}} : {{ this.challenge_id }}</h3>
                    <p>Reward Points: {{this.reward_points}}</p>
                    <button class="challenge-button" id="id-{{this.id}}" onclick="window.location.href='/comp-challenges/{{this.challenge_id}}'">
                        Find out more
                    </button>
                    {{/each}}
                </div>

        </section>