<section class="items-container">
    <h2 class="main-title">Bought Items</h2>

    <div class="bought-container">
        {{#each boughtItems}}
        <div class="items-overview">
            <h3 class="newItemH3">{{this.title}}</h3>
            <div class="icons">
                <img class="bought-icon" src='{{this.img_link}}'>
                <button class="new-item-button" id="{{this.id}}" onclick="window.location.href='/inventory/bought-item/{{this.id}}'">
                    <img class="help-icon" src="../../public/imgs/help.svg" alt="">
                </button>
            </div>
        </div>
        {{/each}}
</section>

<section class="items-container">
    <h2 class="main-title">Suggested Items</h2>

    <div class="suggested-container">

        {{#each suggestedItems}}

        <div class="items-overview">
            <h3 class="newItemH3">{{this.title}}</h3>
            <div class="icons">
                <img class="suggested-icon" src='{{this.img_link}}'>
                <button class="new-item-button" id="{{this.id}}" onclick="window.location.href='/inventory/suggested-item/{{this.id}}'">
                    <img class="help-icon" src="../../public/imgs/help.svg" alt="">
                </button>
            </div>
        </div>

        {{/each}}


</section>