<img class="{{topicDetails.title}}" src="../../public/imgs/{{topicDetails.title}}-icon.svg" alt="{{topicDetails.url}}" />
<div class="learn-container">
    <h1>{{topicDetails.title}}</h1>
    <p>{{topicDetails.information}}</p>
    {{!-- <img src="../../public/imgs/{{topicDetails.title}}.jpg" alt="{{topicDetails.url}}" /> --}}
</div>